/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed un10er MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body
{
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    width: 100%;
    height: 100%;

    color: white;
}
html
{
    width: 100%;
    height: 100%;
}
h1,
h2,
h4,
h5,
h6
{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

    margin: 0 0 35px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

h3
{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

    margin: 0 0 5px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

p
{
    font-size: 18px;
    line-height: 1.5;

    margin: 0 0 25px;
}
@media (min-width: 768px)
{
    p
    {
        font-size: 20px;
        line-height: 1.6;

        margin: 0 0 35px;
    }
}
a
{
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    color: #42dca3;
}
a:hover,
a:focus
{
    text-decoration: none;

    color: #1d9b6c;
}
.light
{
    font-weight: 400;
}
.navbar-custom
{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    margin-bottom: 0;

    text-transform: uppercase;

    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: black;
}
.navbar-custom .navbar-toggle
{
    font-size: 12px;

    color: white;
    background-color: rgba(255, 255, 255, .2);
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active
{
    outline: none;
}
.navbar-custom .navbar-brand
{
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus
{
    outline: none;
}
.navbar-custom a
{
    color: white;
}
.navbar-custom .nav li a
{
    -webkit-transition: background .3s ease-in-out;
       -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover
{
    color: rgba(255, 255, 255, .8);
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active
{
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li.active
{
    outline: none;
}
.navbar-custom .nav li.active a
{
    background-color: rgba(255, 10, 10, .6);
}
.navbar-custom .nav li.active a:hover
{
    color: white;
}
@media (min-width: 768px)
{
    .navbar-custom
    {
        padding: 20px 0;

        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
        letter-spacing: 1px;

        border-bottom: none;
        background: transparent;
    }
    .navbar-custom.top-nav-collapse
    {
        padding: 0;

        border-bottom: 1px solid rgba(255, 255, 255, .3);
        background-color: rgba(54, 54, 54, .9);
    }
}

.carousel-class
{
    padding-left: 100px;
}
.main-text
{
    position: absolute;
    top: 100px;

    width: 96.66666666666666%;
    padding-top: 200px;

    color: #fff;
}
/*.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 250px;
  text-align: center;
  color: white;
  background: url(../img/steak.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/


.intro .intro-body
{
    display: table-cell;

    vertical-align: middle;
}
.intro .intro-body .brand-heading
{
    font-size: 40px;
}
.intro .intro-body .intro-text
{
    font-size: 18px;
}
@media (min-width: 768px)
{
    .intro
    {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading
    {
        font-size: 100px;
    }
    .intro .intro-body .intro-text
    {
        font-size: 26px;
    }
}

.btn-circle{
    font-size: 40px;

    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;

    -webkit-transition: background .3s ease-in-out;
       -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;

    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}
.btn-circle:hover,
.btn-circle:focus{
    color: white;
    outline: none;
    background: rgba(255, 255, 255, .1);
}
.btn-circle i.animated{
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property:    -moz-transform;
}
.btn-circle:hover i.animated{
    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
}
@-webkit-keyframes pulse{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50%
    {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes pulse{
    0%{
        -moz-transform: scale(1);
             transform: scale(1);
    }
    50%{
        -moz-transform: scale(1.2);
             transform: scale(1.2);
    }
    100%{
        -moz-transform: scale(1);
             transform: scale(1);
    }
}

.content-section{
    padding-top: 250px;
    padding-bottom: 50px;
}

#about{
    padding-bottom: 220px;

    background-color: black;
}
.partners-title{
    padding-bottom: 40px;
}
#partners{
    padding-top: 150px;
    padding-bottom: 150px;
}
#partners-text{
    color: #777;
    padding-bottom: 50px;
    font-size: 63px;
}
.partner-section{
    width: 100%;

    padding-bottom: 50px:

    color: black;
    background-color: white;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#contact{
    padding: 100px 200px 100px 200px;

    background-color: black;
}
#jumbotron-text{
    color: #777 !important;
}
.products{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #eee;
}

#ima-imgs, #acmi-imgs, #zacmi-imgs{
    display:hidden !important;
    padding-top: 40px !important;
}

.btn{
    font-size: 20px !important;
}


.btn-cl{
    line-height: 1.25;

    display: inline-block;

    width: 300px;
    height: 40px;
    padding: .5rem 1rem;
    margin-top: 5px;
    font-size: 46;


    -webkit-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .6s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn-cl:focus{
    color: #fff !important;
    border-color: #0275d8 !important;
    background-color: #0275d8 !important;
}

.contact-title{
    margin: 0 0 65px;
}

ul.banner-social-buttons{
    margin-top: 0;
}
@media (max-width: 1199px){
    ul.banner-social-buttons
    {
        margin-top: 15px;
    }
}
@media (max-width: 767px){
    ul.banner-social-buttons li
    {
        display: block;

        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child
    {
        margin-bottom: 0;
    }
}
footer{
    padding: 50px 0;
}
footer p{
    margin: 0;
}
::-moz-selection{
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
    text-shadow: none;
}
::selection{
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
    text-shadow: none;
}
img::selection{
    background: transparent;
}
img::-moz-selection{
    background: transparent;
}
body{
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}
